.board {
  &-row {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 150px);
  }

  .restart {
    display: block;
    color: black;
    font-size: 1.5rem;
    margin: auto;
    padding: 5px;
    background: #8d99ae;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: #6f7888;
    }
  }

  .d-pad {
    display: none;
    margin-top: 30px;

    button {
      font-size: 2rem;
      padding: 5px 15px;
      background: none;
      border-radius: 5px;
    }

    #d-pad-up,
    #d-pad-down {
      display: block;
      margin: auto;
    }

    div {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      button {
        margin: 0 40px;
      }
    }
  }

  .status-message {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
  }
}
